{% extends "public/templates/public_template.html" %}

{% block title %} Rawfactor foundations About {% endblock %}
{% block agencyname %}Rawfactor Consulting{% endblock %}
{% block tagline %} Changing the World Through upstream Solution Design{% endblock%}
{% block companyname %}Rawfactor Consulting{% endblock %}
{% block titletext %}
<p>
    <strong style='color: red'>About!</strong>
    <h1 style='color:red'>2022Au12+2145</h1>
    this is the section about Rawfactor Consulting. i am begining to understand the skeleton structure of jinja and flask but i got a long way to go 
</p>
<p>

</p>
{% endblock %}
